<div class="card">
  <div class="card-header" data-background-color="blue">
    <h4 class="title">Quiz Panel</h4>
  </div>
  <div class="card-content">
    <ng-container *ngFor="let question of questions;let index=index">
        <div class="col-md-2" style="padding-right:11%;padding-bottom:3%">
            <button [ngClass]="setButtonClass(index)" style="width:30px;margin-bottom:20%" (click)="goTo(index)">{{index+1}}</button>              
        </div>          
    </ng-container>
    <div class="col-md-12">
        <div class="row">
            <label style="margin-left:10%"><h4>{{countDown | async | appTime}}</h4></label>        
        </div>   
    </div>  
  </div>
</div>