<div class="main-content">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="orange">
          <i class="material-icons">content_copy</i>
        </div>
        <div class="card-content">
          <h3 class="title">Add New Course Material
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="green">
          <i class="material-icons">content_copy</i>
        </div>
        <div class="card-content">
          <h3 class="title">Add New Assignment
          </h3>
        </div>
        <div class="card-footer">
          <div>
              <form>
                    <div class="col-md-12">
                      <div class="form-group label-floating is-empty">
                        <label class="control-label">Course ID: {{cId}}</label>
                        <input type="text" class="form-control">
                        <span class="material-input"></span>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-info pull-right" (click)="addNewQuiz()">Add Quiz</button>
                  <div class="clearfix"></div>
                </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header" data-background-color="blue">
          <h4 class="title">Add New Quiz</h4>
        </div>
        <div class="card-content">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Course ID: {{cId}}</label>
                  <input type="text" class="form-control" disabled="">
                  <span class="material-input"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Quiz Name</label>
                  <input type="text" class="form-control" [(ngModel)]="quiz.name" name="quizName">
                  <span class="material-input"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Quiz Date</label>
                  <!-- <span class="material-input"></span> -->
                  <material-datepicker [(date)]="quiz.date"></material-datepicker>                  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Duration in hours</label>
                  <input type="text" class="form-control" [(ngModel)]="quiz.duration" name="quizDuration">
                  <span class="material-input"></span>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-info pull-right" (click)="addNewQuiz()">Add Quiz</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="green">
          <h4 class="title">Assignments</h4>
          <p class="category">Existing assignments for this module</p>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead class="text-success">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Country</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Dakota Rice</td>
                <td>$36,738</td>
                <td>Niger</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="blue">
          <h4 class="title">Quizzes</h4>
          <p class="category">Existing quizzes for this course</p>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead class="text-info">
              <tr>
                <th>Quiz ID</th>
                <th>Quiz Name</th>
                <th>Date</th>
                <th>Duration</th>                
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let quiz of quizzes">
                <td>{{quiz.qId}}</td>
                <td>{{quiz.name}}</td>
                <td>{{quiz.date | date}}</td>
                <td>{{quiz.duration}}</td>                
                <td>
                  <button type="button" rel="tooltip" title="" class="btn btn-info btn-simple btn-lg" data-original-title="Edit Task" [routerLink]="['./quiz/',quiz.qId]">
                    <i class="material-icons">launch</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>