<div class="main-content">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="orange">
          <i class="material-icons">content_copy</i>
        </div>
        <div class="card-content">
          <h3 class="title">Add New Course Material
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="green">
          <i class="material-icons">content_copy</i>
        </div>
        <div class="card-content">
          <h3 class="title">Add New Assignment
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header" data-background-color="blue">
          <h4 class="title">Add New Quiz</h4>
        </div>
        <div class="card-content">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Course ID: {{cId}}</label>
                  <input type="text" class="form-control" disabled="">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Quiz Name</label>
                  <input type="text" class="form-control" [(ngModel)]="quiz.name" name="quizName">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Quiz Date</label>
                  <input type="text" class="form-control" name="quizName">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Duration</label>
                  <input type="text" class="form-control" name="quizName">
                  <span class="material-input"></span>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-info pull-right" (click)="addNewQuiz()">Add Quiz</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>