<div class="main-content">
  <div class="row">
      <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" src="../assets/img/Course.png">
              </a>
            </div>
            <div class="content">
              <h6 class="category text-gray">Course Summary</h6>
              <!-- <p class="card-content">
                {{assignment.description}}
              </p> -->
              <div class="card-content">
                  <p class="category">Assignments for this course</p>
                  <h3 class="title">{{assignments?.length}}
                  </h3>
              </div>
              <div class="card-content">
                  <p class="category">Quizzes for this course</p>
                  <h3 class="title">{{quizzes?.length}}
                  </h3>
              </div>
            </div>
          </div>
        </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="green">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
          <h3 class="title">Add New Assignment
          </h3>
        </div>
        <div class="card-footer">
          <div>
            <form>
              <div class="col-md-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Course ID: {{cId}}</label>
                  <input type="text" class="form-control" disabled>
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group form-success label-floating is-empty">
                  <label class="control-label">Assignment Name:</label>
                  <input type="text" class="form-control" [(ngModel)]="assignment.name" name="assignName">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group form-success label-floating is-empty">
                  <label class="control-label">Assignment Description:</label>
                  <input type="text" class="form-control" [(ngModel)]="assignment.description" name="description">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group form-success label-floating is-empty">
                  <label class="control-label">Start Date:</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group form-success label-floating is-empty">
                  <material-datepicker [(date)]="assignment.startDate"></material-datepicker>
                  <input type="time" [(ngModel)]="assignment.startTime" name="assignmentStartTime">
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group form-success label-floating is-empty">
                  <label class="control-label">End Date:</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group form-success label-floating is-empty">
                  <material-datepicker [(date)]="assignment.endDate"></material-datepicker>
                  <input type="time" [(ngModel)]="assignment.endTime" name="assignmentEndTime">
                </div>
              </div>
              <button type="submit" class="btn btn-success pull-right" (click)="addNewAssignment()">Add Assignment</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="blue">
          <i class="material-icons">question_answer</i>
        </div>

        <div class="card-content">
          <h3 class="title">Add New Quiz
          </h3>
        </div>
        <div class="card-footer">
          <div>
            <form>
              <div class="col-md-12">
                <div class="form-group form-info label-floating is-empty">
                  <label class="control-label">Course ID: {{cId}}</label>
                  <input type="text" class="form-control" disabled="">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group form-info label-floating is-empty">
                  <label class="control-label">Quiz Name</label>
                  <input type="text" class="form-control" [(ngModel)]="quiz.name" name="quizName">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group form-info label-floating is-empty">
                  <label class="control-label">Quiz Date</label>
                  <!-- <span class="material-input"></span> -->
                  <material-datepicker [(date)]="quiz.date"></material-datepicker>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group form-info label-floating is-empty">
                  <label class="control-label">Duration in hours</label>
                  <input type="number" class="form-control" [(ngModel)]="quiz.duration" name="quizDuration">
                  <span class="material-input"></span>
                </div>
              </div>
              <button type="submit" class="btn btn-info pull-right" (click)="addNewQuiz()">Add Quiz</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="green">
          <h4 class="title">Assignments</h4>
          <p class="category">Existing assignments for this module</p>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead class="text-success">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let assignment of assignments">
                <td>{{assignment.assignId}}</td>
                <td>{{assignment.name}}</td>
                <td>{{assignment.description}}</td>
                <td>{{assignment.startDate | date}}</td>
                <td>{{assignment.endDate | date}}</td>
                <td>
                  <button type="button" rel="tooltip" title="" class="btn btn-success btn-simple btn-lg" data-original-title="Edit Task" [routerLink]="['./assignments/',assignment.assignId]">
                    <i class="material-icons">launch</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="blue">
          <h4 class="title">Quizzes</h4>
          <p class="category">Existing quizzes for this course</p>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead class="text-info">
              <tr>
                <th>Quiz ID</th>
                <th>Quiz Name</th>
                <th>Date</th>
                <th>Duration</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let quiz of quizzes">
                <td>{{quiz.qId}}</td>
                <td>{{quiz.name}}</td>
                <td>{{quiz.date | date}}</td>
                <td>{{quiz.duration}}</td>
                <td>
                  <button type="button" rel="tooltip" title="" class="btn btn-info btn-simple btn-lg" data-original-title="Edit Task" [routerLink]="['./quiz/',quiz.qId]">
                    <i class="material-icons">launch</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>