<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="green">
                    <h2 class="title">Welcome Student</h2>
                    <p class="category">Student Moodle
                    </p>
                </div>
                <div class="card-content">
                    <br/><br/>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 smenu">
                            <a href="/student-enrolled-courses">
                                <div class="card card-stats">
                                    <div class="card-header" data-background-color="green">
                                            <i class="material-icons">assignment_ind</i>
                                    </div>
                                    <div class="card-content">
                                        <h3 class="title">My Courses
                                        </h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 smenu">
                            <a href="/student-courses">
                                <div class="card card-stats">
                                    <div class="card-header" data-background-color="purple">
                                        <i class="material-icons">content_copy</i>
                                    </div>
                                    <div class="card-content">
                                        <h3 class="title">Courses
                                        </h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 smenu">
                            <a href="/student-feedback">
                                <div class="card card-stats">
                                    <div class="card-header" data-background-color="orange">
                                            <i class="material-icons">feedback</i>
                                    </div>
                                    <div class="card-content">
                                        <h3 class="title">FeedBack
                                        </h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 smenu">

                            <div class="card card-stats">
                                <div class="card-header" data-background-color="red">
                                        <i class="material-icons">library_books</i>
                                </div>
                                <div class="card-content">
                                    <h3 class="title">E-Library
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 smenu">

                            <div class="card card-stats">
                                <div class="card-header" data-background-color="blue">
                                        <i class="material-icons">question_answer</i>
                                </div>
                                <div class="card-content">
                                    <h3 class="title">FAQ
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>