.smenu:hover h3 { 
    transform:scaleY(1.5);
    transform:scaleX(1.08);
    transform-origin: right;
    }
 .smenu:hover {
   transform:scaleY(1.9);
   transform:scaleX(1.1);
   transform-origin: bottom;
 }