<div class="content" style="margin-top:5%">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">Welcome Student</h4>
                <p class="category">Sri Lanka Institue of Information Technology
                </p>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Student | Home</h5>
                        <a href="/student-enrolled-courses">
                          <div class="alert alert-primary">
                              <span><b> My Courses</b></span>
                          </div>
                        </a>
                        <a href="/student-feedback">
                          <div class="alert alert-warning">
                              <span><b> FeedBack</b></span>
                          </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h5>&nbsp;</h5>
                        <a href="/student-courses">
                          <div class="alert alert-success">
                              <span><b> All Courses</b></span>
                          </div>
                        </a>
                        <div class="alert alert-danger">
                            <span><b> Notices</b></span>
                        </div>                    
                    </div>
                </div>
                <br>
                <br>
                <div class="places-buttons">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h5>Notifications Places
                                <p class="category">Click to view notifications</p>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>