<div class="main-content">
  <!-- <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="green">
          <h4 class="title">Questions</h4>
        </div>
        <div class="card-content table-responsive">
          <table class="table">
            <thead class="text-primary">
              <tr>
                <th>Questions</th>
                <th>Answers</th>
                <th>Correct Answer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let question of questions;">
                <td>{{question.question}}</td>
                <td>
                  <p *ngFor="let answer of question.answers;">{{answer}}</p>
                </td>
                <td>{{question.correctAnswer}}</td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-info btn-simple btn-xs" data-original-title="Edit Task" (click)="editQuestion(question.queId)">(click)="showDialog = !showDialog
                                      <i class="material-icons">edit</i>
                                  </button>
                  <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Remove" (click)=deleteQuestion(question.queId)>
                                      <i class="material-icons">close</i>
                                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <app-edit-question-modal [(visible)]="showDialog">
            <h1>Hello World</h1>
            <button (click)="showDialog = !showDialog" class="btn">Close</button>
          </app-edit-question-modal>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="blue">
          <h4 class="title">{{course}}</h4>
          <p class="category">Quiz no: {{quizNo}}</p>
        </div>
        <div class="card-content">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">{{question.question}}</label>
                </div>
              </div>
            </div>
            <div class="row">
              <ng-container *ngFor="let answer of question.answers;let index=index">
                <div [ngClass]="i%2==0?row:''">
                  <div class="col-md-6">
                    <div class="form-group">
                    <label><input type="radio" class="form-control" [name]="answer" [(ngModel)]="selectedAnswer" [value]="answer"/>{{answer}}</label>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <button class="pull-right" (click)="last()?submit():next()" [ngClass]="last()?'btn btn-success':'btn btn-info'">{{last()?"submit":"next"}}</button>
            <button class="btn btn-info pull-right" (click)="prev()" [disabled]="index===0">prev</button>            
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>